<html>
  <body>
    <ul class="nav nav-tabs">
      <li class="active"><a href="/friends">My Friends</a></li>
      <li><a href="#">Compare</a></li>
      <li><a href="/requests">Requests</a></li>
    </ul>
    <hr>
    <%= form_for @friendship do |f| %>
        <%=f.text_field :friend_name, placeholder: "username" %>
        <%=f.submit "Send Friend Request" %>
      <%end%>
    <h1><small>Your friends</small></h1>
    <div class="bs-docs-example">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Name</tr>
          </tr>
        </thead>
        <tbody>
          <% @user.total_approved_friends.each do |friend| %>
            <tr> 
              <td><%= friend.username %>
              <%= form_for @friendship, :method => :delete do |f| %>
                
                <%=f.hidden_field :friend_name, value: friend.username %>
                
                <%=f.submit "Remove Friend" %>
              <%end%>
             </td>
            </tr>
            
          <% end %>
        </tbody>
      </table>
    </div>
    <% if @user.total_pending_friends.count > 0 %>
    <%= render "update" %>
    <% end %>
  </body>
</html>
