%section.content-section
  %h2.table-title Current Friends
  %table.table-main
    %thead
      %tr
        %th.caption Name
        %th &nbsp;
    %tbody
    - current_user.total_approved_friendships.each do |friendship|
      %tr
      - if friendship.user_id == current_user.id
        %td
          = image_tag(friendship.friend.photo_url)
          = friendship.friend.username
        %td.action-link-container-compare.table-actions
          = link_to "Compare", compare_path(friendship.friend.id), :method => :get, :class => "compare-link"
          = link_to "/ Remove Friend", remove_friendship_path(friendship), :method => :delete, :class => "remove-link", :confirm => "Are you sure you want to remove #{friendship.friend.username}?"
      - else
        %td
          = image_tag(friendship.user.photo_url) 
          = friendship.user.username
        %td.action-link-container-compare.table-actions
          = link_to "Compare", compare_path(friendship.user.id), :method => :get, :class => "compare-link"
          = link_to "/ Remove Friend", remove_friendship_path(friendship), :method => :delete, :class => "remove-link", :confirm => "Are you sure you want to remove #{friendship.user.username}?"

  %h2.table-title Pending Friends
  %table.table-main
    %thead
      %tr
        %th.caption Name
        %th &nbsp;
    %tbody
      - current_user.pending_inverse_friendships.each do |friendship|
        %tr
          %td.action-link-container-approve
            = friendship.user.username
          %td.action-link-container-approve.table-actions
            = link_to "Approve", approve_friendship_path(friendship), :method => :put, :class => "approve-link"
            = link_to "/ Reject", reject_friendship_path(friendship), :method => :delete, :class => "reject-link"

