%section.content-section
  %h3 Search Existing Runline Members and Invite them to Share their Dashboard:
  %form
    = select_tag "users", options_from_collection_for_select(User.all, "id", "username", ), input_html: {class: 'chosen-select'}
  %h3 Don't see a friend listed? Invite them to Runline:
  = form_for current_user.friendships.new do |f|
    = f.text_field :friend_name, placeholder: "username"
    = f.submit "Send Friend Request"

  %h2.table-title Pending Invites
  %table.table-main
    %thead
      %tr
        %th.caption Name
        %th.caption Status
        %tbody
          - current_user.pending_friendships.each do |friendship|
            %tr
              %td
                = friendship.friend_id
              %td
                = friendship.status

/:javascript
/  $(document).ready(function() {
/    $('.chosen-select').chosen;
/    allow_single_deselect: true;
/    no_results_text: 'No results matched';
/    width: '200px';
/  });

