%section.content-section
  %h3 Search Existing Runline Members and Invite them to Share their Dashboard:
  = form_tag(add_friend_path) do
    = select_tag "user", options_from_collection_for_select(User.except(current_user), "id", "username"), class: 'chosen-select',
      name: 'user_id'
    = submit_tag "Send Request"
  %h3 Don't see a friend listed? Invite them to Runline:
  = form_for current_user.friendships.new do |f|
    = f.text_field :friend_name, placeholder: "email"
    = f.submit "Send Friend Request"
  %h2.table-title Pending Invites
  %table.table-main
  %thead
    %tr
      %th.caption Name
      %tbody
      - current_user.pending_friendships.each do |friendship|
        %tr
          %td
            = friendship.friend.username
 


:javascript
  jQuery(function() {

    $('.chosen-select').chosen({
      allow_single_deselect: true,
      no_results_text: 'No results matched',
      width: '200px'
    });

  });

