%section.content-section
  %h2.table-title Invite Friends
  %div.bullet
    %p.bullet-num 01
    %p.bullet-line Invite an Existing Runline Member to Share their Dashboard:
    = form_tag(add_friend_path) do
      = select_tag "user", options_from_collection_for_select(User.requestable_users(current_user), "id", "username"), class: 'chosen-select',
        name: 'user_id'
      = submit_tag "Send Request"

  %div.bullet
    %p.bullet-num 02
    %p.bullet-line Don't see a friend listed? Send them a Runline Invite:
    = form_tag(invites_path) do
      = text_field_tag "email"
      = submit_tag "Email Request"

  %h2.table-title Awaiting Confirmation
  %table.table-main
    %thead
      %tr
        %th.caption Name
        %th.caption &nbsp;
        %tbody
        - current_user.pending_friendships.each do |friendship|
          %tr
            %td
              = friendship.friend.username
            %td
              = link_to "Cancel Invite", cancel_friendship_path(friendship), :method => :delete, :class => "cancel-invite", :confirm => "Are you sure?"

:javascript
  jQuery(function() {

    $('.chosen-select').chosen({
      allow_single_deselect: true,
      no_results_text: 'No results matched',
      width: '200px'
    });

  });

