%section.content-section
  - if current_user.runs.empty?
    %h1 You don't have any runs in the last 14 days! Get off your butt and get out there!
  - elsif @friend.runs.empty?
    %h1 Your friend doesn't have any runs! Tell them to get off their butt and get out there!
  - else

  %div.compare-stat-container
    %div.compare-stat-element
      %ul.stat-element
        %li
        = current_user.username
        %li.stat-title Total Distance
        %li.stat-data
          = "#{current_user.total_distance_in_miles} miles"
      %ul.stat-element
        %li.stat-title Average Pace
        %li.stat-data
          = "#{current_user.total_average_mile_pace}/mile"
      %ul.stat-element
        %li.stat-title Longest Run
        %li.stat-data
          = "#{current_user.longest_run.miles} miles"

    %div.compare-stat-element
      %ul.stat-element
        %li
        = @friend.username
        %li.stat-title Total Distance
        %li.stat-data
          = "#{@friend.total_distance_in_miles} miles"
      %ul.stat-element
        %li.stat-title Average Pace
        %li.stat-data
          = "#{@friend.total_average_mile_pace}/mile"
      %ul.stat-element
        %li.stat-title Longest Run
        %li.stat-data
          = "#{@friend.longest_run.miles} miles"

    %div.compare-stat-element
      %ul.stat-element
        %li Difference
        %li.stat-title Total Distance
        %li.stat-data
          = @diff_miles
      %ul.stat-element
        %li.stat-title Average Pace
        %li.stat-data
          = current_user.compare_total_average_mile_pace_with(@friend)
      %ul.stat-element
        %li.stat-title Longest Run
        %li.stat-data
          = @diff_longest_run

    %h2.table-title Run Logs:  #{current_user.username} 
    %table.table-main
      %thead
        %tr
          %th.caption Run
          %th.caption Distance
          %th.caption Run Time
          %th.caption Workout Datetime
          %tbody
          - @my_runs.each do |run|
            %tr
              %td
                = run.name 
              %td
                = "#{run.miles}"
              %td
                = run.time_in_minutes
              %td  
                = run.workout_datetime
    %h2.table-title Run Logs:  #{@friend.username}
    %table.table-main
      %thead
        %tr
          %th.caption Run
          %th.caption Distance
          %th.caption Run Time
          %th.caption Workout Datetime
          %tbody
          - @friend_runs.each do |run|
            %tr
              %td
                = run.name
              %td
                = "#{run.miles} miles"
              %td
                = run.time_in_minutes
              %td  
                = run.workout_datetime

