%section.content-section
  %h2.table-title Compare 
  - if current_user.runs.empty?
    %h1 You don't have any runs in the last 14 days! Get off your butt and get out there!
  - elsif @friend.runs.empty?
    %h1 Your friend doesn't have any runs! Tell them to get off their butt and get out there!
  - else

    %div.compare-stat-container

      %dl.compare-stat-list
        %dt.compare-term= current_user.username

        %dd.compare-item
          %span.data<> #{current_user.total_distance_in_miles}
          %span.data-marker mi
          %p.data-title Total Distance

        %dd.compare-item
          %span.data<> #{current_user.total_average_mile_pace}
          %span.data-marker /mi
          %p.data-title Average Pace

        %dd.compare-item
          %span.data<> #{current_user.longest_run.miles}
          %span.data-marker mi
          %p.data-title Longest Run


      %dl.compare-stat-list
        %dt.compare-term= @friend.username

        %dd.compare-item
          %span.data<> #{@friend.total_distance_in_miles}
          %span.data-marker mi
          %p.data-title Total Distance

        %dd.compare-item
          %span.data<> #{@friend.total_average_mile_pace}
          %span.data-marker /mi
          %p.data-title Average Pace

        %dd.compare-item
          %span.data<> #{@friend.longest_run.miles}
          %span.data-marker mi
          %p.data-title Longest Run


      %dl.compare-stat-list
        %dt.compare-term Difference

        - if @diff_miles > 0
          %dd.compare-item.diff-positive
            %span.data<> #{@diff_miles}
            %span.data-marker mi
            %p.data-title Longer
        - else
          %dd.compare-item.diff-negative
            %span.data<> #{@diff_miles}
            %span.data-marker mi
            %p.data-title Shorter

        - if @diff_pace < 0
          %dd.compare-item.diff-positive
            %span.data<> #{current_user.compare_total_average_mile_pace_with(@friend)}
            %span.data-marker /mi
            %p.data-title Faster
        - else
          %dd.compare-item.diff-negative
            %span.data<> #{current_user.compare_total_average_mile_pace_with(@friend)}
            %span.data-marker /mi
            %p.data-title Slower

        - if @diff_longest_run > 0
          %dd.compare-item.diff-positive
            %span.data<> #{@diff_longest_run}
            %span.data-marker mi
            %p.data-title Longer
        - else 
          %dd.compare-item.diff-negative
            %span.data<> #{@diff_longest_run}
            %span.data-marker mi
            %p.data-title Shorter

    %div.compare-log-container
      %div.compare-logs
        %h2.table-title Run Logs:  #{current_user.username} 
      %table.table-main
        %thead
          %tr
            %th.caption Name
            %th.caption Date
            %th.caption Distance 
            %th.caption Time
            %th.caption Average Pace
            %tbody
            - @my_runs.each do |run|
              %tr
                %td
                  = run.name
                %td
                  = run.format_date
                %td
                  = "#{run.miles} mi"
                %td
                  = run.time_in_minutes 
                %td
                  = "#{run.mile_pace_in_minutes} /mi"
      %div.compare-logs
        %h2.table-title Run Logs:  #{@friend.username}
      %table.table-main
        %thead
          %tr
            %th.caption Name
            %th.caption Date
            %th.caption Distance 
            %th.caption Time
            %th.caption Average Pace
            %tbody
            - @friend_runs.each do |run|
              %tr
                %td
                  = run.name
                %td
                  = run.format_date
                %td
                  = "#{run.miles} mi"
                %td
                  = run.time_in_minutes 
                %td
                  = "#{run.mile_pace_in_minutes} /mi"
