%section.content-section
  %ul.dash-head
    %li.table-title Last Two Weeks 
    %li.dash-head-update
      = link_to "Update Runs", fetch_runs_path, :method => :get, :class => "update-run-link"
  %dl.dash-stats
    %dt
    %dd.dash-set
      %span.data<> #{current_user.total_distance_in_miles}
      %span.data-marker mi
      %p.data-title Total Distance

    %dd.dash-set
      %span.data<> #{current_user.total_average_mile_pace}
      %span.data-marker /mi
      %p.data-title Average Pace

    %dd.dash-set
      %span.data<> #{current_user.longest_run.miles}
      %span.data-marker mi
      %p.data-title Longest Run

  %h2.table-title Run Logs
  %table.table-main
    %thead
      %tr
        %th.caption Name
        %th.caption Date
        %th.caption Distance 
        %th.caption Time
        %th.caption Average Pace
        %tbody
        - @my_runs.each do |run|
          %tr
            %td
              = run.name
            %td
              = run.format_date
            %td
              = "#{run.miles} mi"
            %td
              = run.time_in_minutes 
            %td
              = "#{run.mile_pace_in_minutes} mi"
