%section.content-section
  %h2.table-title Last Two Weeks 
  %div.stat-container
    %ul.distance-block
      %li.stat-title Total Distance
      %li.stat-data
        = "#{current_user.total_distance_in_miles} miles"
    %ul.pace-block
      %li.stat-title Average Pace
      %li.stat-data
        = "#{current_user.total_average_mile_pace}/mile"
    %ul.longest-block
      %li.stat-title Longest Run
      %li.stat-data
        = "#{current_user.longest_run.miles} miles"

  %h2.table-title Run Logs
  %table.table-main
    %thead
      %tr
        %th.caption Name
        %th.caption Date
        %th.caption Distance 
        %th.caption Time
        %th.caption Average Pace
        %tbody
        - @my_runs.each do |run|
          %tr
            %td
              = run.name
            %td
              = run.format_date
            %td
              = "#{run.miles} miles"
            %td
              = run.time_in_minutes 
            %td
              = "#{run.mile_pace_in_minutes}/mile"
