%section.content-section
  %h2.table-title Aggregate Stats 14 Days
  %table.table-main
    %thead
      %tr
        %th.caption Total Miles
        %th.caption Average Pace
        %th.caption Longest Run
        %tbody
          - if @current_user.runs.any?
            %tr
              %td
                You have no runs!
              %td
                You have no runs!
              %td
                You have no runs!
          - else
            %tr
              %td
                = @current_user.total_distance_in_miles
              %td
                = @current_user.total_average_mile_pace
              %td
                = @current_user.longest_run.miles

  %h2.table-title Run Logs 14 Days
  %table.table-main
    %thead
      %tr
        %th.caption Name
        %th.caption Date
        %th.caption Distance 
        %th.caption Time
        %th.caption Average Pace
        %tbody
        - @my_runs.each do |run|
          %tr
            %td
              = run.name
            %td
              = run.format_date
            %td
              = run.miles
            %td
              = run.time_in_minutes
            %td
              = run.mile_pace_in_minutes
