%section.content-section
  %h2.table-title Last Two Weeks 
  %div.stat-container
    %ul.dash-block
      %li.stat-data
        = "#{current_user.total_distance_in_miles}"
      %li.mi-notation /mi
      %li.stat-title Total Distance
    %ul.dash-block
      %li.stat-data
        = "#{current_user.total_average_mile_pace}"
      %li.mi-notation /mi
      %li.stat-title Average Pace
    %ul.dash-block
      %li.stat-data
        = "#{current_user.longest_run.miles}"
      %li.mi-notation /mi
      %li.stat-title Longest Run

  %h2.table-title Run Logs
  %table.table-main
    %thead
      %tr
        %th.caption Name
        %th.caption Date
        %th.caption Distance 
        %th.caption Time
        %th.caption Average Pace
        %tbody
        - @my_runs.each do |run|
          %tr
            %td
              = run.name
            %td
              = run.format_date
            %td
              = "#{run.miles} mi"
            %td
              = run.time_in_minutes 
            %td
              = "#{run.mile_pace_in_minutes} mi"
