%section.content-section
  %h2.table-title Aggregate Stats 14 Days
  %table.stats-table
    %thead
      %tr
        %th.caption Total Miles
        %th.caption Average Pace
        %th.caption Longest Run
        %tbody
          %tr
            %td
              = @current_user.total_distance_in_miles
            %td
              = @current_user.total_average_mile_pace
            %td
              = @current_user.longest_run.miles

  %h2.table-title Run Logs 14 Days
  %table.runs-table
    %thead
      %tr.first-row
        %th Run
        %th Distance
        %th Run Time
        %th Workout Datetime
        %tbody
        - @my_runs.each do |run|
          %tr
            %td
              = run.name
            %td
              = run.distance
            %td
              = run.run_time
            %td
              = run.workout_datetime
