%section.masthead
  = image_tag("logo.png", :class => "logo")
  %ul.main-nav
    %li.nav-item= link_to "My Dash", dashboard_path, class: "nav-links"
    %li.nav-item= link_to "My Friends", friendships_path, class: "nav-links"
    %li.nav-item= link_to "Invite Friends", requests_friendships_path, class: "nav-links"
    %li.nav-item= link_to "Profile", profile_path, class: "nav-links"
    %li.nav-item= link_to "Logout", logout_path, class: "nav-links"

