<!DOCTYPE html>
<html>
  <head>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <a href="/" class="logo"><img src= ></a>
      </nav>
    </header>

    <title>Runline</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= flash.notice %>
    <%= yield %>
  </body>

   <footer>
    <div class="container">
      <p>Runline. A social fitness tracking service built by gSchool class[1]</p>
      <p>Billy Griffin, Luke Martinez, Lauren Spath Luhring, &amp; Bree Thomas</p>
    </div>
  </footer>

</html>
